.progress-bar {
   background-color: var(--color-dark-variant);
   color: var(--text-color-inverted);
}

.progress-bar::before{
   content: attr(data-text);
   display: flex;
   align-items: center;
   position: relative;
   left: 0.12em;
   top: 0.12em;
   bottom: 0.12em;
   width: calc(var(--progress-width,0) * 1%);
   min-width: 1rem;
   max-width: calc(100% - 0.24em);
   background-color: rgb(47, 138, 199);
   border-radius: 1em;
   height: calc(1em - 0.24em);
   transition: width 300ms ease-in-out;
}

.percentage-label {
   color: var(--text-color);
   margin-left: 5px;
   width:5ch;
}